<%= render :partial => "comatose/admins/form_errors" %>
<%= render :partial => "comatose/admins/form_page_status" %>

<%= form_for @page,
             :url => (@page.new_record? ? admins_path : admin_path(@page)),
             :id  => "comatose-page-form", :remote => true, :validate => true do |form| %>

    <table class="page-form">
      <tbody>
      <%= render :partial => 'comatose/admins/form_page_photo_row', :locals => { :form => form } %>
      <%= render :partial => 'comatose/admins/form_page_photo_field_row', :locals => { :form => form } %>
      <%= render :partial => 'comatose/admins/form_title_row', :locals => { :form => form } %>
      <%= render :partial => 'comatose/admins/form_slug_row', :locals => { :form => form } %>
      <%= render :partial => 'comatose/admins/form_keywords_row', :locals => { :form => form } %>
      <%= render :partial => 'comatose/admins/form_parent_row', :locals => { :form => form } %>
      <%= render :partial => 'comatose/admins/form_body_row', :locals => { :form => form } %>
      <%= render :partial => 'comatose/admins/form_help_row', :locals => { :form => form } %>
      <%= render :partial => 'comatose/admins/form_filter_row', :locals => { :form => form } %>
      <%= render :partial => 'comatose/admins/form_created_on_row', :locals => { :form => form } %>
      </tbody>
    </table>

    <%= render :partial => 'comatose/admins/form_submit_button_group', :locals => { :form => form } %>
<% end %>

<%= render :partial => 'comatose/admins/form_preview_area' %>

